<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="~/Content/Estilo.css" rel="stylesheet" />
</head>
<body>
	<div>


		<header class="espacioHeader">
			<div class="izquierdaHeader">
				<img class="imagen" src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/18700023_1701256429899277_3897996791830386744_n.jpg?oh=34469db18b0da41ab898722e5e2fd33f&oe=5AE5AC88" height="80" /> &nbsp; <label class="labelBlanco">PASSION FOR FRUIT - SISTEMA DE GESTION DE PEDIDOS</label>
			</div>
			<div class="derechaHeader">
				Cerrar Sesión <img class="imagen" src="http://icons.iconarchive.com/icons/icons8/windows-8/128/User-Interface-Logout-icon.png" height="30" />
			</div>
			<div style="clear:both">

			</div>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">

					<div class="meseroEspacio">
						<div class="izquierdaImagenMesero">
							<img class="imagen" src="https://lh3.googleusercontent.com/-EnXnzzMjsKc/Ux6UCq9TxdI/AAAAAAAAACk/Zi3NQhocZKQfi_Xh5_SrBSSIatv_0BDsQCEwYBhgL/w139-h140-p/DSC08577.JPG" height="70" />
						</div>
						<div class="derechaMesero">
							<label class="label">POICON PEREZ ROBERTO</label><br /> MESERO
						</div>
						<div style="clear:both">

						</div>
					</div>
					<div class="menu">
						<label><a href="~/Pedido/GenerarPedido">Generar Pedido</a></label>
					</div>


				</div>
				<div class="col-md-9">
					@RenderBody()
				</div>
			</div>
		</div>
		<footer>
			<p>@@ @DateTime.Now.Year Passion For Fruit</p>
		</footer>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

        
       